body {
    font-family: Arial, sans-serif;
}

#table {
    border: 5px solid red;
    width: 500px;
}

#table thead td {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

#table th,
#table td {
    padding: 5px;
    border: 1px solid red;
}

#table th {
    text-align: left;
}


#table tfoot td {
    text-align: center;
    padding: 10px;
    color: red;
}


#table .reset {
    color:red;
}
#table .submit {
    color:green;
}